examples/sub-range/state_machine.asl.json
{
    "Comment": "A linear three-step pipeline, for demonstrating start/end sub-range runs.",
    "QueryLanguage": "JSONata",
    "StartAt": "Step1",
    "States": {
        "Step1": {
            "Type": "Pass",
            "QueryLanguage": "JSONata",
            "Output": "{% $merge([$states.input, {'step1': 'one'}]) %}",
            "Next": "Step2"
        },
        "Step2": {
            "Type": "Pass",
            "QueryLanguage": "JSONata",
            "Output": "{% $merge([$states.input, {'step2': 'two'}]) %}",
            "Next": "Step3"
        },
        "Step3": {
            "Type": "Pass",
            "QueryLanguage": "JSONata",
            "Output": "{% $merge([$states.input, {'step3': 'three'}]) %}",
            "End": true
        }
    }
}
