examples/asl_definitions/main.asl.json
{
    "Comment": "A description of my state machine",
    "StartAt": "example_batch_1",
    "States": {
        "child": {
            "Type": "Task",
            "Resource": "arn:aws:states:::states:startExecution.sync:2",
            "Next": "example_lambda_1",
            "QueryLanguage": "JSONata",
            "Output": "{% $merge([$states.result.Output, $states.input]) %}",
            "Arguments": {
                "StateMachineArn": "${child}",
                "Input": "{% $merge([$states.input, {'AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID':$states.context.Execution.Id}]) %}",
                "Name": "{% $states.context.Execution.Name & '_' & $millis() %}"
            }
        },
        "example_batch_1": {
            "Next": "example_batch_2",
            "Resource": "arn:aws:states:::batch:submitJob.sync",
            "Type": "Task",
            "QueryLanguage": "JSONata",
            "Arguments": {
                "JobDefinition": "arn:aws:batch:us-east-1:${accountId}:job-definition/example_batch_1",
                "JobQueue": "arn:aws:batch:us-east-1:${accountId}:job-queue/${queueName}",
                "JobName": "example_batch_1",
                "Tags": {
                    "execution_id": "{% $states.context.Execution.Id %}",
                    "execution_name": "{% $states.context.Execution.Name %}"
                },
                "ContainerOverrides": {
                    "Environment": [
                        {
                            "Name": "TaskToken",
                            "Value": "{% $states.context.Task.Token %}"
                        },
                        {
                            "Name": "ExecutionName",
                            "Value": "{% $states.context.Execution.Name %}"
                        }
                    ],
                    "ResourceRequirements": [
                        {
                            "Type": "MEMORY",
                            "Value": "{% $string($lookup($states.context.Execution.Input.mem, $states.context.State.Name)) %}"
                        },
                        {
                            "Type": "VCPU",
                            "Value": "{% $string($lookup($states.context.Execution.Input.cpu, $states.context.State.Name)) %}"
                        }
                    ],
                    "Command": [
                        "{% $string($states.input) %}"
                    ]
                }
            },
            "Output": "{% $merge([$states.result.Output, $states.input]) %}"
        },
        "example_batch_2": {
            "Next": "child",
            "Resource": "arn:aws:states:::batch:submitJob.sync",
            "Type": "Task",
            "QueryLanguage": "JSONata",
            "Arguments": {
                "JobDefinition": "arn:aws:batch:us-east-1:${accountId}:job-definition/example_batch_2",
                "JobQueue": "arn:aws:batch:us-east-1:${accountId}:job-queue/${queueName}",
                "JobName": "example_batch_2",
                "Tags": {
                    "execution_id": "{% $states.context.Execution.Id %}",
                    "execution_name": "{% $states.context.Execution.Name %}"
                },
                "ContainerOverrides": {
                    "Environment": [
                        {
                            "Name": "TaskToken",
                            "Value": "{% $states.context.Task.Token %}"
                        },
                        {
                            "Name": "ExecutionName",
                            "Value": "{% $states.context.Execution.Name %}"
                        }
                    ],
                    "ResourceRequirements": [
                        {
                            "Type": "MEMORY",
                            "Value": "{% $string($lookup($states.context.Execution.Input.mem, $states.context.State.Name)) %}"
                        },
                        {
                            "Type": "VCPU",
                            "Value": "{% $string($lookup($states.context.Execution.Input.cpu, $states.context.State.Name)) %}"
                        }
                    ],
                    "Command": [
                        "{% $string($states.input) %}"
                    ]
                }
            },
            "Output": "{% $merge([$states.result.Output, $states.input]) %}"
        },
        "example_lambda_1": {
            "End": true,
            "Resource": "arn:aws:states:::lambda:invoke",
            "Type": "Task",
            "QueryLanguage": "JSONata",
            "Arguments": {
                "Payload": {
                    "raw": "{% $states.context.Execution.Input %}"
                },
                "FunctionName": "arn:aws:lambda:us-east-1:${accountId}:function:example_lambda_1"
            },
            "Output": "{% $merge([$states.result.Output, $states.input]) %}"
        }
    }
}