examples/main.asl.json
{
    "Comment": "A description of my state machine",
    "StartAt": "example_batch_1",
    "States": {
        "child": {
            "Type": "Task",
            "Resource": "arn:aws:states:::states:startExecution.sync:2",
            "Next": "example_lambda_1",
            "QueryLanguage": "JSONata",
            "Output": "{% $merge([$states.result.Output, $states.input, {'h5ad_file':$states.result.Output.in_file}]) %}",
            "Arguments": {
                "StateMachineArn": "${h5ad2ProdStateMachineArn}",
                "Input": "{% $merge([$states.input, {'AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID':$states.context.Execution.Id}]) %}",
                "Name": "{% $states.context.Execution.Name & '_' & $millis() %}"
            }
        },
        "example_batch_1": {
            "Next": "example_batch_2",
            "Resource": "arn:aws:states:::batch:submitJob.sync",
            "Type": "Task",
            "QueryLanguage": "JSONata",
            "Arguments": {
                "JobDefinition": "arn:aws:batch:us-east-1:${accountId}:job-definition/example_batch_1",
                "JobQueue": "arn:aws:batch:us-east-1:${accountId}:job-queue/${queueName}",
                "JobName": "example_batch_1",
                "Tags": {
                    "dataset_name": "{% $states.input.dataset_name %}",
                    "redrive_count": "{% $string($states.context.Execution.RedriveCount) %}",
                    "unigen_execution_id": "{% $states.context.Execution.Id %}",
                    "unigen_execution_name": "{% $states.context.Execution.Name %}",
                    "unigen_stage": "{% $states.context.State.Name %}"
                },
                "ContainerOverrides": {
                    "Environment": [
                        {
                            "Name": "TaskToken",
                            "Value": "{% $states.context.Task.Token %}"
                        },
                        {
                            "Name": "ExecutionName",
                            "Value": "{% $states.context.Execution.Name %}"
                        }
                    ],
                    "ResourceRequirements": [
                        {
                            "Type": "MEMORY",
                            "Value": "{% $string($lookup($states.context.Execution.Input.mem, $states.context.State.Name) ? $lookup($states.context.Execution.Input.mem, $states.context.State.Name) : $states.context.Execution.Input.mem.general) %}"
                        },
                        {
                            "Type": "VCPU",
                            "Value": "{% $string($lookup($states.context.Execution.Input.vcpus, $states.context.State.Name) ? $lookup($states.context.Execution.Input.vcpus, $states.context.State.Name) : 32) %}"
                        }
                    ],
                    "Command": [
                        "{% $string($states.input ~> |$|{}, ['jdi', 'samples', 'SdkHttpMetadata']|) %}"
                    ]
                }
            },
            "Output": "{% $merge(\n  [$states.input,\n    {'filename':$states.result.filename,\n    'last_step_results': $merge([$states.result,{'step':'scrublet'}])}\n  ]\n) %}"
        },
        "example_batch_2": {
            "Next": "child",
            "Resource": "arn:aws:states:::batch:submitJob.sync",
            "Type": "Task",
            "QueryLanguage": "JSONata",
            "Arguments": {
                "JobDefinition": "arn:aws:batch:us-east-1:${accountId}:job-definition/example_batch_2",
                "JobQueue": "arn:aws:batch:us-east-1:${accountId}:job-queue/${queueName}",
                "JobName": "example_batch_2",
                "Tags": {
                    "dataset_name": "{% $states.input.dataset_name %}",
                    "redrive_count": "{% $string($states.context.Execution.RedriveCount) %}",
                    "unigen_execution_id": "{% $states.context.Execution.Id %}",
                    "unigen_execution_name": "{% $states.context.Execution.Name %}",
                    "unigen_stage": "{% $states.context.State.Name %}"
                },
                "ContainerOverrides": {
                    "Environment": [
                        {
                            "Name": "TaskToken",
                            "Value": "{% $states.context.Task.Token %}"
                        },
                        {
                            "Name": "ExecutionName",
                            "Value": "{% $states.context.Execution.Name %}"
                        }
                    ],
                    "ResourceRequirements": [
                        {
                            "Type": "MEMORY",
                            "Value": "{% $string($lookup($states.context.Execution.Input.mem, $states.context.State.Name) ? $lookup($states.context.Execution.Input.mem, $states.context.State.Name) : $states.context.Execution.Input.mem.general) %}"
                        },
                        {
                            "Type": "VCPU",
                            "Value": "{% $string($lookup($states.context.Execution.Input.vcpus, $states.context.State.Name) ? $lookup($states.context.Execution.Input.vcpus, $states.context.State.Name) : 32) %}"
                        }
                    ],
                    "Command": [
                        "{% $string($states.input ~> |$|{}, ['jdi', 'samples', 'SdkHttpMetadata']|) %}"
                    ]
                }
            },
            "Output": "{% $merge(\n  [$states.input,\n    {'filename':$states.result.filename,\n    'last_step_results': $merge([$states.result,{'step':'scrublet'}])}\n  ]\n) %}"
        },
        "example_lambda_1": {
            "End": true,
            "Resource": "arn:aws:states:::lambda:invoke",
            "Type": "Task",
            "QueryLanguage": "JSONata",
            "Arguments": {
                "Payload": {
                    "raw": "{% $states.context.Execution.Input.raw %}",
                    "technology": "{% $states.context.Execution.Input.technology %}",
                    "dataset_name": "{% $states.context.Execution.Input.dataset_name %}",
                    "user_email": "{% $states.context.Execution.Input.user_email %}",
                    "execution_name": "{% $states.context.Execution.Name %}",
                    "execution_input": "{% $states.context.Execution.Input %}",
                    "last_step_results": "{% $states.input.last_step_results %}",
                    "h5ad_file": "{% $states.input.h5ad_file %}"
                },
                "FunctionName": "arn:aws:lambda:us-east-1:${accountId}:function:example_lambda_1"
            }
        }
    }
}