examples/data-flow/state_machine.asl.json
{
    "Comment": "Shows how data flows from one step to the next (JSONata).",
    "QueryLanguage": "JSONata",
    "StartAt": "Validate",
    "States": {
        "Validate": {
            "Type": "Pass",
            "QueryLanguage": "JSONata",
            "Output": "{% $merge([$states.input, {'validated': true}]) %}",
            "Next": "Price"
        },
        "Price": {
            "Type": "Task",
            "QueryLanguage": "JSONata",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Arguments": {
                "FunctionName": "price-fn",
                "Payload": "{% $states.input %}"
            },
            "Output": "{% $merge([$states.input, {'pricing': $states.result.Payload}]) %}",
            "Next": "Summarize"
        },
        "Summarize": {
            "Type": "Pass",
            "QueryLanguage": "JSONata",
            "Output": "{% {'order_id': $states.input.order_id, 'total': $states.input.pricing.total} %}",
            "End": true
        }
    }
}
