examples/quickstart/state_machine.asl.json
{
    "Comment": "Quickstart: a Pass plus two mocked Lambda steps.",
    "QueryLanguage": "JSONata",
    "StartAt": "Prepare",
    "States": {
        "Prepare": {
            "Type": "Pass",
            "QueryLanguage": "JSONata",
            "Output": "{% $merge([$states.input, {'status': 'ready'}]) %}",
            "Next": "Enrich"
        },
        "Enrich": {
            "Type": "Task",
            "QueryLanguage": "JSONata",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Arguments": {
                "FunctionName": "enrich-fn",
                "Payload": "{% $states.input %}"
            },
            "Output": "{% $merge([$states.input, $states.result.Payload]) %}",
            "Next": "Notify"
        },
        "Notify": {
            "Type": "Task",
            "QueryLanguage": "JSONata",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Arguments": {
                "FunctionName": "notify-fn",
                "Payload": "{% $states.input %}"
            },
            "Output": "{% $merge([$states.input, $states.result.Payload]) %}",
            "End": true
        }
    }
}
